<div class="card shadow mb-4">
    <div class="card-header py-3">
      
    <!-- Button trigger modal -->
    <a href="#" data-toggle="modal" data-target="#modalcetegory" class="btn btn-primary">
        Add
    </a>
  
  


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>   
                </thead>
                <tbody>
                    <% for(let i = 0 ; i < category.length ; i++) {%>
                        <tr>
                            <td><%= i+1%></td>
                            <td><%= category[i].name %></td>
                            <td>
                                <form action="/admin/category/<%= category[i].id %>?_method=DELETE" method="POST">
                                    <a href="#" id="button_edit" data-id="<%= category[i].id %>" data-name="<%= category[i].name %>" class="btn btn-success">Edit</a>
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>

                        </tr>
                    <% }%>
                </tbody>
            </table>
        </div>
    </div>
</div>

